asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
distlib==0.3.8
Django==4.2.9
django-colorfield==0.11.0
django-cuser==2017.3.16
django-grappelli==4.0.1
django-jazzmin==2.6.0
django-jet==1.0.8
django-suit==0.2.28
django-tinymce==3.7.1
filelock==3.13.1
idna==3.6
modeltranslation==0.25
pillow==10.2.0
platformdirs==4.2.0
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
Unidecode==1.3.8
urllib3==2.2.1
virtualenv==20.25.1
